<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Appenders>
    <Console name="JsonConsole" target="SYSTEM_OUT">
        <JsonLayout
                compact="true"
                eventEol="true"
                stacktraceAsString="true"
                locationInfo="false"
                properties="false"
                objectMessageAsJsonObject="false"
                includeTimeMillis="false"/>
    </Console>
</Appenders>

<Loggers>
    <Root level="INFO">
        <AppenderRef ref="JsonConsole"/>
    </Root>

    <Logger name="com.project" level="DEBUG" additivity="false">
        <AppenderRef ref="JsonConsole"/>
    </Logger>
</Loggers>
</Configuration>
